<div class="navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <nav class="navbar container">

      <%= link_to 'CrytoQuotations', root_path, class:"navbar-brand" %>
    </nav>
  </div>
</div>