<div class="navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <nav class="navbar container">

      <%= link_to 'CrytoQuotations', root_path, class:"navbar-brand" %>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li> <%= link_to 'Toutes les rumeurs', root_path, class:'nav-item nav-link' %>
          </li>
        </ul>

          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-right">
              <li>
                <%=link_to 'Mon compte', root_path, class:"nav-item nav-link text-right" %>
              </li>
              <li>
                <%=link_to 'Se déconnecter', root_path, method: :delete, class:"nav-item nav-link text-right" %>
              </li>

          </ul>
 

    </nav>
  </div>
</div>